<h1>Bienvenue, mon frère</h1>
<img src="public/step_bg.png" alt="un joli chat" />

<h2>Uploadez un document !</h2>

<img src="public/uploads/1624544182530_burgonde.png" alt="" />

<form action="/document" method="POST" enctype="multipart/form-data">
  <input type="file" id="document" name="document" />
  <button type="submit">Envoyer le fichier !</button>
</form>
